body {
    font: 15px/1.5 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ffebc9;
    color: #976000;
    text-transform: lowercase;
}

/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
}

.button1 {
    height: 40px;
    background-color: #ffcb70;
    border: 0;
    font: 15px/1.5 'Inter', sans-serif;
    color: #976000;
    font-weight: bold;
    text-transform: lowercase;
}

.button1:hover {
    background-color: #ffb637;
}

/* Header */
header {
    background-color: #ffdc9f;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #976000 3px solid;
    color: #976000;
}

header a {
    text-decoration: none;
}

header li {
    float: left;
    display: inline;
    padding: 0 10px 0 10px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 20px;
}

header a:link {
    text-decoration: none;
    outline: none;
    color: inherit;
}

header a:hover {
    color: #df8e00;
}

/* Showcase */
#showcase {
    min-height: 600px;
    background:url('../img/showcase-orange.jpg') no-repeat;
    background-size: 100%;
    /* opacity: .7; */
    text-align: center;
    color: #976000;
}

#showcase .highlight{
    opacity: 1;
    background-color: #ffdc9f;
    padding: 3px 10px 3px 10px;
}

#showcase h1 {
    margin-top: 150px;
    font-size: 50px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

/* Newsletter */
#newsletter {
    padding: 15px;
    color: #976000;
    background-color: #ffdc9f;
    /* border-bottom: #976000 1px solid; */
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 20px;
    margin-right: 5%;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 31px;
    width: 200px;
    border: none;
    font: 15px/1.5 'Inter', sans-serif;
    color: black;
}

/* Boxes */
#boxes {
    margin-top: 20px;
}

#boxes .box img {
    float: left;
    padding: 0 15px 50px 0;
    height: 15%;
    width: 15%;
}

#boxes .box {
    float: left;
    /* width: 30%; */
}

#boxes h3 {
    font-size: 30px;
}

#boxes h1 {
    font-size: 50px;
    border-bottom: #976000 2px solid;
}

footer {
    float: right;
    margin-right: 30px;
}